/*font-family: 'Roboto', sans-serif;*/

head, body, footer {
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
}


html{
	background-image:url("Space Backgrounds/space 3.svg");
	background-repeat:no-repeat;
	background-size: cover;
}


button {
	border: 2px #4D89F9;
	display: inline-flex;
	border-radius: 5px;
	padding: 12px 24px;
	background-color: #4D89F9;
	color: #FFFFFF;
	font-weight: 600;
	transition-duration: .3s;
	cursor: pointer;
	margin: 1em auto;
}


button:hover {
	border: 2px solid #4D89F9;
	border-radius: 5px;
	padding: 12px 24px;
	background-color: #FFFFFF;
	color: #4D89F9;
	transition-duration: .3s;
    transition-property: transform;
	transform: scale(1.1);
}

td{
	padding: 0.2em 1.5em 0.2em 0em;
}

th{
	text-align: left;
}

img {
  height: 20px;
  width: 20px;
}

input{
	padding: 0.2em 0.3em;
}

table{
	padding-bottom: 1em;
}


/*ID below*/

#inputHeading {
	display: flex;
	justify-content: center;
	align-items: center;
}

#locations-to-monitor{
	padding: 10px 0 20px 0;
}

#servicesDisclaimer {
	font-size: 9pt;
	margin: 0 0 20px 0;
}

#card-box{
	display: flex;
	margin: 2em auto;
	padding: 2em;
	width: 90%;
	min-height: 30em;
}


#input-card{
	display:block;
	background-color: #F4F7FB;
	border-radius: 5px;
	margin: 2em;
	padding: 2em;
	width: 60%;
	min-height: 30em;
	overflow: hidden;
}



#output-card{
	display: block;
	background-color: #F4F7FB;
	border-radius: 5px;
	margin: 2em;
	padding: 2em;
	width: 40%;
	min-height: 30em;
}

#link-buttons, #calcResetSection {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: nowrap;
}

#calcButton {
	margin: auto auto auto 48%;
}

#reset-button {
	margin: auto 5% auto auto;
}

#totalNodesP {
	display: none;
}

/* ID-Class combos */

input.radioButton {
  cursor: pointer;
}




/* classes below */

.button {
	display: block;
	border: 2px #4D89F9;
	border-radius: 5px;
	padding: 12px 24px;
	background-color: #4D89F9;
	color: #FFFFFF;
	font-weight: 600;
	transition-duration: .3s;
	text-decoration: none;
	cursor: pointer;
	height: 100%;
	width: 22%;
	margin: 20px auto;
}



.button:hover {
	border: 2px solid #4D89F9;
	border-radius: 5px;
	padding: 12px 24px;
	background-color: #FFFFFF;
	color: #4D89F9;
	transition-duration: .3s;
    transition-property: transform;
	transform: scale(1.1);
	text-decoration: none;
}


/* Hints */

.tooltip {
  position: relative;
  display: inline-block;
}


/* Tooltip text */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.726);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /*Position the hover of the tooltip text*/
  position: absolute;
  z-index: 5;
  margin-top: -60px;
  margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


/* Show the tooltip on hover */

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: ease-in;

}

/* Mobile media query
@media only screen and (max-width: 768px) { 
	table{
		overflow-x: auto;
	}
	
}
*/

/* Tablet media query */
@media only screen and (max-width: 1024px) { 
	
	#card-box{
		display:block;
		width: 100%;
	}
	
	#input-card, #output-card{ /* fix box width */
		margin: 1.5em auto;
		padding: 0.75em
	}
	
	td{
		padding: .2em;
	}
}

/* media query to fix node services cut off*/
@media only screen and (max-width: 1545px) { 
	
	#card-box{
			display:block;
		}
	#input-card, #output-card{ /* fix box width */
		width: 90%;
		margin: 1.5em auto;
		padding: 1.75em;
	}
}

/* media query to fix link button row. */
@media only screen and (max-width: 1737px) { 
	
	#link-buttons,.button{
	display: inline-block;
}
}